footer {
	background-color: #0077B6;
	margin: 0 auto;
	padding: 2% 10%;
	border-radius: 30px;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
img.icons {
	max-width: 50px;
	padding: 6px 6px;
	border-radius: 12px;
	background-color: #344ee4;
}
a.foot-tags {
	color: #ffffff;
	text-decoration: none;
	padding: 1px;
}