header {
	.navbar {
		background-color: #0077B6 !important;
		border-radius: 10px;
	}
	.nav-link {
		color: #ffffff;
		font-weight: 500;
		font-size: 30px;
	}
	.logo {
		font-weight: 800;
		font-size: 42px;
		color: #ffffff;
		padding: 2% 5% 2% 0%;
		text-decoration: none;
	}
	.e-mage{
	max-width: 100px;
	padding: 0px 20px 0px 30px;
	transition: all 0.25s;	
	}
	.e-mage:hover{
		transform: scale(1.5);
	}

}